h1{
    color: red;
}

#fruits-title{
    color: black;
}

.importent-places{
    color: blue;
}
.yellow-bg{
    background-color: yellowgreen;
}

.text-size{
    font-size: 2rem;
}
.text-center{
    text-align: center;
}